.footer {
  padding-top: 2rem;
  padding-bottom: 2rem;
  text-align: center;

  .footer-text {
    font-size: 1rem;
    font-family: $textbrand;
  }

  .author {
    font-size: 1.2rem;
    font-family: $textbrand;

    a {
      color: $gray-600;
      text-decoration: none;
    }
  }
}
