@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";
@import "~bootstrap/scss/utilities";
@import "~bootstrap/dist/css/bootstrap.min.css";

$bg-main: #f1f1ec;
$textbrand: "helvetica";

.pointer-cursor{
  cursor: pointer;
}

body, html{
  background-color: $bg-main !important;
}

.text-brand{
  font-family: "Comic Sans MS", sans-serif;
}
