@import "~bootstrap/scss/_functions";
@import "~bootstrap/scss/_variables";
@import "~bootstrap/scss/mixins/breakpoints";

$clear: #1ac6d2;
$sunny: #0065d0;
$cloudy: #014d92;
$rainy: #082f72;
$storm: #1b1d7e;

.Container{
  background-size: cover;
  z-index: 1;
  top: 0;
  height: 270px;
}

.Title{
  font-weight: bold;
  font-size: 2rem;
}

.Subtitle{
  font-weight: bold;
}

.WeatherIcon{
  width: 100px;
  height: 100px;
  object-fit: cover;
  object-position: 20px -20px;
}

.Clear{
  background: $clear;
}

.Sunny{
  background: $sunny;
}

.Cloudy{
  background: $sunny;
}

.Rain{
  background: $rainy;
}

.Storm{
  background: $storm;
}

.Night{
  z-index: 100;
  background: rgba(0,0,0,0.7)
}
